@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color1: #1d201f;
  --color2: #38aecc;
}

body {
  font-family: "poppins", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  transition: 1s;
  background: var(--color1);
  color: whitesmoke;
}

*::selection {
  background: var(--color2);
  color: whitesmoke;
}

/* **************** HEADER *********************** */

header {
  margin: 42px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

header h1 {
  font-weight: 200;
  font-size: 20px;
  margin-bottom: -10px;
  margin-top: 200px;
}

header h2 {
  margin-bottom: 30px;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 28px;
  color: var(--color2);
}

/* ****************** PROJECTS **************** */

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.grid a {
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 2px;
  color: whitesmoke;
  text-decoration: none;
}

.grid a:hover {
  transition: 0.6s;
  letter-spacing: 3px;
}

.grid a:visited {
  color: whitesmoke;
}

/* ****************** FOOTER ********************* */

footer {
  min-height: 60px;
  padding: 0 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  transition: 1s;
  background: #262626c4;
}

footer a {
  color: whitesmoke;
}

footer a:hover {
  transform: scale(1.2);
  transition: 0.6s;
}

/* ****************** RESPONSIVE ************************ */
/* ****************** RESPONSIVE ************************ */

@media screen and (max-width: 750px) {
  /* **************** HEADER *********************** */

  header p {
    width: 400px;
  }

  /* ****************** FOOTER ********************* */

  footer {
    padding: 0 80px;
  }
}
