---
import Section from "./Section.astro";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description } = Astro.props;
---

<Section text="Contact" href="about">
  <div class="flex gap-12 md:gap-8 flex-col items-center md:flex-row">
    <p class="text-neutral w-auto text-base md:pr-5">{description}</p>
  </div>
</Section>
