---
import Section from "./Section.astro";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description } = Astro.props;
---

<Section text="Contact" href="about">
  <div class="flex flex-col items-start gap-9">
    <p class="text-neutral text-base">{description}</p>
    <p class="text-neutral text-base">Curriculum vitae</p>
  </div>
</Section>
