---
import Section from "./Section.astro";
import type { ContactProps } from "@types";

const { email, links } = Astro.props as ContactProps;
---

<Section text="Contact" href="contact">
  <div class="flex flex-col items-start gap-5">
    <p class="text-neutral text-base">{email}</p>
    {
      links.map(({ label, url }) => (
        <a
          href={url}
          target="_blank"
          class="text-neutral text-base hover:underline"
        >
          {label}
        </a>
      ))
    }
  </div>
</Section>
