---
import type { SiteConfig } from "@types";

type Props = Pick<SiteConfig, "author">;

const { author } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer
  class="text-white w-full text-center pb-8 pt-8 px-5 border-t border-neutral/20 flex items-center justify-center"
>
  <p class="text-xs">
    {author} © {currentYear}. Portfolio. <span class="text-neutral"
      >Tous droits réservés.</span
    >
  </p>
</footer>
