---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary } = Astro.props;
---

<div class="pt-12" id="#hero" style="margin-bottom: 90px;">
  <h1
    class="text-7xl md:text-8xl font-serif mb-1.5 md:mb-0 text-white font-bold tracking-tightest"
  >
    {name}
  </h1>
  <p
    class="text-4xl md:text-6xl leading-[46px] font-serif text-primary font-bold tracking-tighter mb-9"
  >
    {specialty}
  </p>
  {
    summary.map((paragraph) => (
      <p
        class="text-neutral font-normal text-base md:text-lg mb-4"
        set:html={paragraph}
      />
    ))
  }
</div>
