---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary } = Astro.props;
---

<div class="pt-12" id="#hero" style="margin-bottom: 80px;">
  <h1
    class="text-6xl md:text-7xl font-serif mb-0.5 md:mb-1.5 text-white font-bold tracking-tightest"
  >
    {name}
  </h1>
  <p
    class="text-3xl md:text-5xl leading-[46px] font-serif text-primary font-bold tracking-tighter mb-6"
  >
    {specialty}
  </p>
  {
    summary.map((paragraph) => (
      <p
        class="text-custom1 font-light text-sm  md:text-base mb-4"
        set:html={paragraph}
      />
    ))
  }
</div>
